@import './base.css';
/* @import './theme-style.css'; */


input:focus,
select:focus,
textarea:focus,
button:focus,
.vue-tel-input,
.page-link:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: #dee2e6 !important;
}

/* remove tiny mark at bottom left of textareas */
textarea {
  resize: none;
  /* -webkit-appearance: none;
  -moz-appearance: none; */
}

input::placeholder, textarea::placeholder {
  color: #ccc !important;
  opacity: 1;
  font-weight: lighter;
  font-size: 16px;
}



.btn-primary {
  background-color: var(--theme-btn) !important;
  outline: none !important;
  border: none !important;
}

.btn-primary-outline {
  background-color: transparent;
  border-color: var(--theme-btn) !important;
  color: var(--theme-btn);
}

.btn-primary:hover {
  background-color: var(--theme-btn-hover) !important;
}

.btn-primary-outline:hover {
  background-color: var(--theme-btn) !important;
  color: var(--bs-white);
}


.bg-primary {
  background-color: var(--theme-color) !important;
}

.bg-theme {
  background-color: var(--theme-color) !important;
}

.theme-color {
  color: var(--theme-color) !important;
}

.theme-color-shine {
  color: var(--theme-color-shine) !important;
}

.theme-color2 {
  color: var(--theme-color2) !important;
}

.cursor-notallowed{
  cursor: not-allowed !important;
}
.cursor-pointer {
  cursor: pointer;
}

.hover-tiltX {
  transition: all ease-in-out 0.4s;
}


.hover-tiltX:hover {
  transform: translateX(5px);
}

.hover-tiltY {
  transition: all ease-in-out 0.4s;
}


.hover-tiltY:hover {
  transform: translateY(-5px);
}

/* SECTION */

.section-panel {
  /* overflow: hidden; */
  padding-block: 100px;
}

.section-panel-light {
  background-color: #f8f8fd;
}

.section-panel .section-title {
  font-size: 40px;
  font-weight: 700;
}

@media (max-width: 767px) {
  .section-panel {
    padding-block: 60px;
  }

  .section-panel .section-title {
    font-size: 24px;
  }

  .section-panel .section-right {
    font-size: 11px;
  }


  /* .card-icon {
      font-size: 1.7rem;
  } */

}

/* SECTION END */


/* TAGs START */
.category-tag {
  border-radius: 35px;
  padding: 5px 13px;
  font-size: 11px;
  background-color: #efefef86;
  text-transform: capitalize !important;
  margin-right: 5px;
}

.marketing-tag {
  color: #FFB836;
  background-color: #EB853310;
}

.design-tag {
  color: #E63468;
  background-color: #56cdad10;
}

.business-tag {
  color: #873A70;
  background-color: #4640DE10;
}

.technology-tag {
  color: #1AB2B5;
  background-color: #FF655010;
}

.finance-tag {
  color: #58b51a;
  background-color: #507cff10;
}

.fulltime-tag, .parttime-tag, .remote-tag {
  border: 1px solid #E63468;
  color: #E63468;
  background-color: transparent;
  /* border-color: #E63468; */
}


@media (max-width: 767px) {
  .category-tag {
    padding: 3px 11px;
    font-size: 7px;
    margin-right: 3px;
  }
}

/* TAGs END */

.space-from-header {
  min-height: 60px
}



hr.faint {
  height: 1px;
  /* margin: 50px 0; */
  background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0)), color-stop(0.5, #333333), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));
  background: linear-gradient(left, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));
  border: 0;
}

hr.faint:after {
  display: block;
  content: '';
  /* height: 30px; */
  background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 116, color-stop(0%, #cccccc), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-radial-gradient(center top, farthest-side, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -moz-radial-gradient(center top, farthest-side, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-radial-gradient(center top, farthest-side, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
  background-image: radial-gradient(farthest-side at center top, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
}

.xsmall {
  font-size: .754em;
}

.text-muted2 {
  color: rgba(188, 192, 197, 0.75) !important;
}

.line-right {
  border-right: 1px solid #e5e5e5;
  /* padding-right: 10px; */
}

/* form-check check input */
.form-check-input:checked {
  background-color: var(--theme-color);
  border-color: var(--theme-color);
}

.form-check-input[type=checkbox] {
  padding: 8px;
}

/* form-check check input */

.vue3-progress-bar-container .vue3-progress-bar {
  background-color: var(--theme-color2) !important;
}




/* text between lines */

.between-lines {
  overflow: hidden;
  text-align: center;
}

.between-lines:before,
.between-lines:after {
  background-color: #ccc;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.between-lines:before {
  right: 0.5em;
  margin-left: -50%;
}

.between-lines:after {
  left: 0.5em;
  margin-right: -50%;
}

/* text between lines */

.border-right {
  border-right: 1px solid #e5e5e5;
  margin-right: 10px;
}

@media (max-width: 767px) {
  .border-right {
    margin-right: 3px;
  }
}


/* radio Buton #########################################33 */

/* Hide the default radio button */
input[type="radio"] {
  display: none;
}

/* Style the custom radio button */
input[type="radio"]+label {
  position: relative;
  padding-left: 30px;
  /* Adjust the spacing between the radio button and the label */
  cursor: pointer;
  line-height: 20px;
  /* Adjust the vertical alignment of the label */
}

/* Create a custom radio button appearance */
input[type="radio"]+label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  /* Adjust the size of the custom radio button */
  height: 20px;
  /* Adjust the size of the custom radio button */
  border: 2px solid #868787;
  /* Set the border color for the custom radio button */
  border-radius: 50%;
  /* Create a circular shape for the custom radio button */
  background-color: white;
  /* Set the background color of the custom radio button */
}

/* Style the custom radio button when it's checked */
input[type="radio"]:checked+label:before {
  background-color: var(--theme-color);
  /* Change the background color of the custom radio button when checked */
  border-color: var(--theme-color);
  /* Change the border color of the custom radio button when checked */
}





/* RIPPLE EFFECT ################################## */
.click-ripple {
  position: relative;
}

.click-ripple:active:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  animation: ripple 1s ease-out;
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(2);
  }
}



/* date picker and vue-select ##################### */

.profile-edit-select .vs__search,
.skills-select .vs__search,
.find-jobs-select .vs__search {
  line-height: 1.7rem !important;
  border: 0px !important;
}

.dp__range_end,
.dp__range_start,
.dp__active_date {
  background: var(--theme-color) !important;
  color: var(--dp-primary-text-color) !important;
  border: none !important;
}

.dp__overlay_cell_active {
  background: var(--theme-color) !important;
}

.vs__dropdown-toggle {
  border-radius: 0px !important;
  /* background-color: #fff !important; */
}

.vs__dropdown-menu {
  z-index: 9999 !important;
  text-transform: capitalize;
}





/* nav tabs ############################################### */
.nav-link {
  border: none !important;
  font-size: 14px;
}

.nav-link, .nav-link:hover {
  color: #7C8493 !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  font-weight: bolder;
  border-bottom: 2px solid var(--theme-color) !important;
  color: var(--theme-color) !important;
}

@media (max-width: 767px) {
  .nav-link {
    font-size: 13px;
  }
}

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.easy-checkbox input[type=checkbox]:checked+label:before {
  background: var(--theme-color) !important;
}

.easy-checkbox input[type=checkbox].allSelected+label:before, .easy-checkbox input[type=checkbox].partSelected+label:before {
  background: var(--theme-color) !important;
}

.vc-light.vc-attr, .vc-light .vc-attr {
  --vc-content-color: var(--theme-color) !important;
  --vc-highlight-outline-bg: var(--vc-white) !important;
  --vc-highlight-outline-border: var(--theme-color) !important;
  --vc-highlight-outline-content-color: var(--theme-color) !important;
  --vc-highlight-light-bg: var(--vc-accent-200) !important;
  --vc-highlight-light-content-color: var(--theme-color) !important;
  --vc-highlight-solid-bg: var(--theme-color) !important;
  --vc-highlight-solid-content-color: var(--vc-white) !important;
  --vc-dot-bg: var(--theme-color) !important;
  --vc-bar-bg: var(--theme-color) !important;
}

/* easytable loader */
.lds-ring div {
  border-color: var(--theme-color) transparent transparent transparent !important;
}


.vue3-easy-data-table__body td {
  border: none !important;
}

.vue3-easy-data-table__main.fixed-header th {
  text-transform: uppercase;
  padding-block: 15px !important;
  background-color: #F8F8FD !important;
  color: red !important;
}

.vue3-easy-data-table__footer {
  border: none !important;
  padding-block: 30px !important;
}

.dropdown-menu {
  border-radius: 5px !important;
  border: none !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075)
}

