@import './base.css';


input:focus,
select:focus,
textarea:focus,
button:focus,
.page-link:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: #dee2e6 !important;
  /* border-color: var(--theme-color-3) !important; */
  /* background-color: none; */
}

.btn-primary {
    background-color: var( --theme--btncolor) !important;
    outline: none !important;
    border: none !important;
  }

  .btn-primary:hover {
    background-color: var( --theme--btncolor-hover) !important;
  }
  
  .bg-primary {
    background-color: var(--theme-color) !important;
  }

  .cursor-pointer {
    cursor: pointer;
  }
  




@media (min-width: 1024px) {
 
}
